body {
	margin: 0px;
	font-family: "Arial", Gadget, sans-serif;

}

p{
	color: #333;
}

#header{
	white-space: nowrap;
	text-align: center;
	padding: 50px;
	
	border-bottom: 10px solid red;
	background-color: #58B;
	font-family: "Arial Black", Gadget, sans-serif;
}

#logo{
	font-size: 128px;
	white-space: nowrap;
	font-family: "Arial Black", Gadget, sans-serif;
	color: black;
}

#logo > div{
	line-height: 256px;
	display: inline-block;
	vertical-align: middle;
}

#logodotsmall{
	background-image: url("images/bigdot.png");
	height: 16px;
	width: 16px;
	background-size: contain;
	background-repeat: no-repeat;
	line-height: 16px;
	display: inline-block;
	color: white;
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
}

#slogan{
	font-size: 36px;
	color: #EEE;
}

#content{
	padding-top: 0px;
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 200px;
}

#download-dot-banner{
	font-size: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.download-dot-button{
	cursor: pointer;
	padding: 15px;
	width: 400px;
	white-space: nowrap;
	font-size: 30px;
	
	/*
	border: 3px solid black;
	background-color: lightgreen;
	font-weight: bold;
	text-decoration:  none;
	margin: auto;
	color: black;
	border-radius: 20px;
	*/
}

/*Switched to bootstrap.
.download-dot-button:hover{
	background-color: green;
	color: #111;
}*/

.featurepreview{
	white-space: nowrap;
	font-size: 28px;
}

.featurepreview>div{
	display: inline-block;
	vertical-align: middle;
}

.featurepreview-img{
	width: 100px;
	height: 100px;
}