.hero-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 600px;
	width: 100%;
}

.hero-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	gap: 40px;
}

.logo-pane {
	flex: 2;
}

.quickstart-pane {
	flex: 1;
}

.features-pane {
	width: 100%;
}

@media screen and (max-width: 1000px) {
	.hero-main {
		flex-direction: column;
	}
	.quickstart-pane {
		width: 100%;
	}
}
