
#content{
	background-color: rgb(150 150 255 / 0.3);
	padding: 20px;
	border-radius: 20px;
}

#content>pre{
	background-color: rgb(0 0 0 / 0.5);
	padding: 5px;
	padding-left: 10px;
	margin: 0;
}

#content>pre.cmd{
	display: list-item;
	list-style-type: "> ";
	list-style-position: inside;
	color: rgb(20% 90% 20%);
}
#content>pre.cmd::marker{
	color: rgb(10% 60% 10%);
}