
#container{
	text-align: center;
}

#dot{
	position: relative;
	display: inline-block;
}


#dot-text{
	position: relative;
	height: 200px;
	width: 200px;
	color: white;
	background-color: black;
	border-radius: 50%;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;
	z-index: 2;
}

#html{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
}

#logo{
	line-height: 200px;
	font-size: 100px;
	white-space: nowrap;
	height: 200px;
}

#tagline{
	text-align: center;
	font-size: 36px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;
}

.orbiter{
	position: absolute;
	width: 12px;
	height: 12px;
	font-size: 8px;
	line-height: 12px;
	text-align: center;
	opacity: 0.8;
	border-radius: 50%;
	left: 50%;
	top: 50%;
}

#orbiter1{
	filter: grayscale(30%);
	background-color: red;
}
#orbiter2{
	filter: grayscale(30%);
	background-color: blue;
}

/* @media screen and (max-width: 1000px) { 
	#dot-text{
		height: 100px;
		width: 100px;
	}
	
	#html{
		font-weight: 900;
	}
	
	#logo{
		line-height: 100px;
		font-size: 50px;
	}
} */
